# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

logger:
  default: info
  logs:
    custom_components.nector200: debug

http:
  use_x_forwarded_for: true
  trusted_proxies:
   - 10.0.10.10      # IP address of the proxy server
   - 127.0.0.1      # localhost (proxy and HA run on smae host)
   
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
